<!DOCTYPE html>
<html>
<head><% include partials/page/head.ejs %></head>
<body id="<%= page %>">
    
    <% include partials/page/header.ejs %>
    
    <div class="container">
        <section class="intro">
            <h1>Creation Just for you!</h1>
            <p>Welcome to <%= title %></p>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
            Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et
             magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
              ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. 
              Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. 
              In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. 
              Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. 
              Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. 
              Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. 
              Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. </p>
        </section><!--intro-->
        
        <section class="login">
        	<% include partials/page/login.ejs %>
        </section>
        
        <section class="img-gallery">
            <div class="row ">
                <div class="col-md-2 col-md-offset-5">
                    <h2>Gallery</h2>
                </div>                
            </div>
            <% include partials/page/gallery.ejs %>
        </section><!--img -gallery-->
        
    </div><!--container-->


<% include partials/page/footer.ejs %>
<% include partials/page/jsdefaults.ejs %>
</body>
</html>