<!DOCTYPE html>
<html>
<head><% include ../partials/page/head.ejs %></head>
<body id="<%= page %>">
    <div class="row">
		<div class="col-md-4 logo">
			<a href="/">
				<img src="/images/logo.png" alt="logo" class="img-responsive" style="height:54px;"/>
			</a>
		</div>
		<div class="col-md-8 phone-wrapper">
			<h1 class="phone"><%= title %></h1>
		</div>
	</div>
    <section class="navbar">
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Blog</a></li>
            <li><a href="/users/register">Register</a></li>
        </ul><!-- nav -->
    </section><!-- navbar -->
    <div class="container">
        <section id="page-content">

            <div class="widget">
                <form name="create-user-form" id="create-user-form" method="post" role="form">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" id="firstName" name="firstName" required/>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" id="lastName" name="lastName" required/>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required/>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required/>
                    </div>
                    <div class="form-submit">
                        <input type="submit" class="btn btn-default" value="Create my account" />
                    </div>
                    <span style="color:red;"><%= error %></span>
                </form>
            </div>
        </section><!--page-content-->
    </div><!--container-->
<% include ../partials/page/footer.ejs %>
<% include ../partials/page/jsdefaults.ejs %>
</body>
</html>