<footer class="footer">
    <div id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                	<ul class="address">
						<li><i class="fa fa-map"></i>&nbsp;25 Baccarat Cres<br/>
							Brampton, ON <br/>
							L7A 1K7 <br/>
							Canada <br/></li>
						<li><i class="fa fa-phone"></i>&nbsp; 647 973-4040</li>
                	</ul>
    				
					
					
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <ul class="bottom-nav social">
                        <li><a href="https://www.facebook.com/pages/Sweet-n-Tasty-Cakery/279160062227603" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.pinterest.com/sweetntastycake/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-5">
                    <p>© Foxinitiatives.com - 2015</p>
                </div>  
            </div>
        </div>
    </div>
</footer>