<div class="component photogrid clearfix gallery">
    <a href="/">
        <img data-toggle="tooltip" 
             data-original-title="minion" 
             src="/images/minion_tn.jpg" alt="Photo of minion cake">
    </a>
    <a href="/">
        <img data-toggle="tooltip" 
             data-original-title="minion" 
             src="/images/minion_tn.jpg" alt="Photo of minion cake">
    </a>
    <a href="/">
        <img data-toggle="tooltip" 
             data-original-title="minion" 
             src="/images/minion_tn.jpg" alt="Photo of minion cake">
    </a>
    <a href="/">
        <img data-toggle="tooltip" 
             data-original-title="minion" 
             src="/images/minion_tn.jpg" alt="Photo of minion cake">
    </a>
    <a href="/">
        <img data-toggle="tooltip" 
             data-original-title="minion" 
             src="/images/minion_tn.jpg" alt="Photo of minion cake">
    </a>
    <a href="/">
        <img data-toggle="tooltip" 
             data-original-title="minion" 
             src="/images/minion_tn.jpg" alt="Photo of minion cake">
    </a>
    <a href="/">
        <img data-toggle="tooltip" 
             data-original-title="minion" 
             src="/images/minion_tn.jpg" alt="Photo of minion cake">
    </a>
    <a href="/">
        <img data-toggle="tooltip" 
             data-original-title="minion" 
             src="/images/minion_tn.jpg" alt="Photo of minion cake">
    </a>
    <a href="/">
        <img data-toggle="tooltip" 
             data-original-title="minion" 
             src="/images/minion_tn.jpg" alt="Photo of minion cake">
    </a>
    <a href="/">
        <img data-toggle="tooltip" 
             data-original-title="minion" 
             src="/images/minion_tn.jpg" alt="Photo of minion cake">
    </a>
    <a href="/">
        <img data-toggle="tooltip" 
             data-original-title="minion" 
             src="/images/minion_tn.jpg" alt="Photo of minion cake">
    </a>
    <a href="/">
        <img data-toggle="tooltip" 
             data-original-title="minion" 
             src="/images/minion_tn.jpg" alt="Photo of minion cake">
    </a>
</div>