<form name="login-form" id="login-form" method="post" action="/users/login" role="form">
	<div class="form-group">
		<label for="email">Email</label>
		<input class="form-control" type="email" id="email" name="email" required />
	</div>
	<div class="form-group">
		<label for="password">Password</label>
		<input class="form-control" type="password" id="password" name="password" required />
	</div>
	<div class="form-submit">
		<input class="btn btn-default" type="submit" value="Log in" />
		<div class="margin-top-30">
		or <a href="/users/register">Create an account</a>
		</div>
	</div>
</form>